<h1>All Questions<span><%= link_to "New Question", new_question_path, class: 'btn btn-success', style: 'float:right;display:inline;position:relative;top:5px;'  %></span></h1>

<% @questions.each do |ques| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading" style="display:inline;">
                <%= link_to ques.title, ques %>
            </h4>
            <p style="display:inline;color:#28B463;"><%=  ques.resolved ? "Resolved!" : "" %></p>
            <p style="font-size: 1rem;color: gray;">
                <%= ques.created_at %>
            </p>
        </div>
    </div>
<% end %>