<h1><%= @advertisement.title %></h1>
<p><%= @advertisement.body %></p>
<p style="font-size:0.8rem;">Created: <%= @advertisement.created_at %></p>
<p style="font-size:0.8rem;">Updated: <%= @advertisement.updated_at %></p>
