<h1 class="about-me">About me</h1>
<p class="me">Would you choose "Blue Pill" or "Red Pill" ?</p>
<div class="social-btn-group">
    <div class="social-btn">
        <%= link_to "","https://www.facebook.com/bakhumhlea", class:"ion-social-facebook" %>
    </div>
    <a class="social-btn" href="https://www.facebook.com/bakhumhlea" style="background-color:#BA4A00;" target="_blank">
        <span class="ion-social-facebook"></span>
    </a>
</div>